body{
    background-color:rgb(247, 247, 247);
    background-image: url(img/1655832327_23-celes-club-p-tekstura-glyantsevoi-bumagi-krasivo-23\ \(1\).jpg);
    background-size: contain;
}

.row frr-body{
    background-color: blueviolet;
}
.navbar-brand{
    color: #ee5e0a;
}
.card-title{
color:#20af38;
}
.form-select {
 
}
    